div(class='nav-bar')
   div(class='nav-bar_logo scroll')
      span
         img(class='logo_studio-name' src='../src/img/studio_t.png')
      img(src='../src/img/logo.png')
   div(class='nav__item')
      ul(class='nav__item_scroll') 
         li(class='nav__item_target') 
            a(href="#" class='nav__item__link') Агентсво
         li(class='nav__item_target')
            a(href="#" class='nav__item__link') Работы
         li(class='nav__item_target') 
            a(href="#" class='nav__item__link') Клиенты 
         li(class='nav__item_target') 
            a(href="#" class='nav__item__link') Контакты
         div(class='burger')
            span
   div(class='menu')
      div(class='menu__list') 
         ul   
            li 
               a(class='menu__link') Работы
            li 
               a(class='menu__link') Клиенты
            li 
               a(class='menu__link') Агентсво
            li 
               a(class='menu__link') Контакты
             

         
