section(class='milliart')
   div(class='milliart__content')
      div(class='milliart__img')
         img(class='milliart__logo' src='./src/img/logoOne.png')
         img(class='divider' src='./src/img/divider.svg')
      div
         h1(class='milliart__title') Milliart 
         h3 Это, пока ещё, новый для российского рынка формат
            br 
            | онлайн-галереи. Можно приобрести или взять в аренду любую 
            br 
            | картину из галереи. 
   div(class='milliart__tags-group')
      span(class='tag') Входящие данные и аналитика
         svg(class='ellipse' width="100%" height="175" viewBox="0 0 431 175" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class='ellipse-path' opacity="0.16" d="M421.006 51.3264C422.191 58.044 417.807 65.5647 408.482 73.4515C399.189 81.3116 385.13 89.4106 367.336 97.2748C331.753 113 281.339 127.74 224.53 137.757C167.721 147.774 115.305 151.166 76.4909 148.559C57.0797 147.255 41.0988 144.453 29.6777 140.245C18.218 136.023 11.526 130.455 10.3415 123.738C9.15705 117.02 13.5412 109.499 22.8658 101.613C32.159 93.7525 46.2177 85.6535 64.0124 77.7893C99.5944 62.0641 150.009 47.3239 206.818 37.3069C263.627 27.2899 316.042 23.8985 354.857 26.5055C374.268 27.8093 390.249 30.6116 401.67 34.8192C413.13 39.0411 419.822 44.6089 421.006 51.3264Z" stroke="#F6F6F6")
      span(class='tag') Разработка дизайна и фирменного стиля
         svg(class='ellipse' width="100%" height="175" viewBox="0 0 431 175" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class='ellipse-path' opacity="0.16" d="M421.006 51.3264C422.191 58.044 417.807 65.5647 408.482 73.4515C399.189 81.3116 385.13 89.4106 367.336 97.2748C331.753 113 281.339 127.74 224.53 137.757C167.721 147.774 115.305 151.166 76.4909 148.559C57.0797 147.255 41.0988 144.453 29.6777 140.245C18.218 136.023 11.526 130.455 10.3415 123.738C9.15705 117.02 13.5412 109.499 22.8658 101.613C32.159 93.7525 46.2177 85.6535 64.0124 77.7893C99.5944 62.0641 150.009 47.3239 206.818 37.3069C263.627 27.2899 316.042 23.8985 354.857 26.5055C374.268 27.8093 390.249 30.6116 401.67 34.8192C413.13 39.0411 419.822 44.6089 421.006 51.3264Z" stroke="#F6F6F6")
      span(class='tag') Разработка сайта
         svg(class='ellipse' width="100%" height="175" viewBox="0 0 431 175" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class='ellipse-path' opacity="0.16" d="M421.006 51.3264C422.191 58.044 417.807 65.5647 408.482 73.4515C399.189 81.3116 385.13 89.4106 367.336 97.2748C331.753 113 281.339 127.74 224.53 137.757C167.721 147.774 115.305 151.166 76.4909 148.559C57.0797 147.255 41.0988 144.453 29.6777 140.245C18.218 136.023 11.526 130.455 10.3415 123.738C9.15705 117.02 13.5412 109.499 22.8658 101.613C32.159 93.7525 46.2177 85.6535 64.0124 77.7893C99.5944 62.0641 150.009 47.3239 206.818 37.3069C263.627 27.2899 316.042 23.8985 354.857 26.5055C374.268 27.8093 390.249 30.6116 401.67 34.8192C413.13 39.0411 419.822 44.6089 421.006 51.3264Z" stroke="#F6F6F6")
      span(class='tag') Рекламная компания
         svg(class='ellipse' width="100%" height="175" viewBox="0 0 431 175" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(class='ellipse-path' opacity="0.16" d="M421.006 51.3264C422.191 58.044 417.807 65.5647 408.482 73.4515C399.189 81.3116 385.13 89.4106 367.336 97.2748C331.753 113 281.339 127.74 224.53 137.757C167.721 147.774 115.305 151.166 76.4909 148.559C57.0797 147.255 41.0988 144.453 29.6777 140.245C18.218 136.023 11.526 130.455 10.3415 123.738C9.15705 117.02 13.5412 109.499 22.8658 101.613C32.159 93.7525 46.2177 85.6535 64.0124 77.7893C99.5944 62.0641 150.009 47.3239 206.818 37.3069C263.627 27.2899 316.042 23.8985 354.857 26.5055C374.268 27.8093 390.249 30.6116 401.67 34.8192C413.13 39.0411 419.822 44.6089 421.006 51.3264Z" stroke="#F6F6F6")
