div(class='quote-container')
   img(class='avatar' src='./src/img/avatar.png')
   span(class='quote-main')
      h2(class='quote-name') Артемий Лебедев
      div(class='quote-text')
         p(class='qoute') Ну что, ну прикольно так. Всё аккуратно, красивенько свёрстано, только гамбургер из двух палок непривычен — это странно.
         p(class='qoute') Можно купить или арендовать произведения исскуства. Прикольно, что есть такая штука. Мне нравится.