div(class='task')
   div(class='task__content hover-effect')
      div(class='task__title intend-tittle')
         img(class='task__img-link intent-link' src='./src/img/link.png')
         h3(class='task__text-link') Наша задача
      p(class='task__text task__font') Нужно вывести на Российский рынок новую услугу по аренде и продаже картин. Разработать брендинг и сам интернет-магазин произведений, придумать стратегию и план продвижения.