footer
   div(class='task__title intend-tittle hover-effect')
      img(class='intent-link' src='./src/img/link.png')
      h3(class='task__text-link') Декомпозиция и входящие данные
   p(class='footer__text task__font hover-effect') Провели несколько интервью и брифингов с заказчиком. Итоговую задачу разделили на несколько фундаментальных составляющих
   div(class='footer__blocks')
      div(class='footer__tasks hover-effect')
            h3(class='task_border') 01
            p(class='tasks-text') Анализ рынка, поиск конкурентов,
               br
               | портреты ЦА
      div(class='footer__tasks hover-effect')
            h3(class='task_border') 02
            p(class='tasks-text') Разработка фирменного стиля
      div(class='footer__tasks hover-effect')
            h3(class='task_border') 03
            p(class='tasks-text') Запуск и ведение социальных сетей, 
               br
               | подготовка аудитории к новой услуге и 
               br
               | запуску проекта
      div(class='footer__tasks hover-effect')
            h3(class='task_border') 04
            p(class='tasks-text') Создание презентаций для художников,
               br
               | дизайнеров, предпринимателей. Чтобы 
               br
               | можно было рассылать предложения на
               br
               | почту, искать потенциальных покупателей 
               br
               | и художников
      div(class='footer__tasks hover-effect')
            h3(class='task_border') 05
            p(class='tasks-text') Разработка минимальной версии сайта. 
               br
               | На первых этапах нужен только сам каталог
               br
               | и возможность отправить заявку на покупку
               br
               | или аренду
      div(class='footer__tasks hover-effect')
            h3(class='task_border') 06
            p(class='tasks-text') Разработка отдельного лендинга
               br
               | «Для художников», с целью рассказать
               br
               | преимущества сотрудничества с компанией 
               br
               | и привлечь опытных и начинающих 
               br
               | художников, чтобы они выставляли свои
               br
               | произведения в галерее
      div(class='footer__tasks hover-effect')
            h3(class='task_border') 07
            p(class='tasks-text') Разработка лендинга, рассказывающего
               br
               | про галерею, особенности работы, 
               br
               | представленных художниках
      div(class='footer__tasks hover-effect')
            h3(class='task_border') 08
            p(class='tasks-text') Запуск минимальной версии и продолжение 
               br
               | работы над сайтом
      div(class='footer__tasks hover-effect')
            h3(class='task_border') 09
            p(class='tasks-text') Реклама, ведение соцсетей, привлечение 
               br
               | художников, офлайн-мероприятия
      div(class='footer__tasks hover-effect')
            h3(class='task_border') 10
            p(class='tasks-text') Разработка внутренней CRM на основе 
               br
               | административной системы, для управления 
               br
               | сроками и условиями аренды


